<mat-card class="example-card" *ngIf="country$ | async as country">
    <mat-card-header>
      <mat-card-title> {{ country.name | uppercase}} </mat-card-title>
      <mat-card-subtitle>Id: {{ country.id }}  </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>Capital: {{ country.capitalCity }}</p>
      <p>Coordinates: {{ country.latitude }},  {{ country.longitude }}</p>
      <p>Income Level: {{ country.incomeLevel.value }}</p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <div class="example-button-row">
        <button mat-raised-button color="primary">Complete</button>
        <button mat-raised-button color="warn">Cancel</button>
      </div>
    </mat-card-actions> -->
  </mat-card>
